---
import type { CollectionEntry } from "astro:content";
import BlogPostPreview from "@components/Blog/BlogPostPreview.astro";
import { getAllPosts } from "@components/Blog/utils/getAllPosts";
import ArchiveNav from "@components/Global/ArchiveNav.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();

	// Return a paginated collection of paths for all posts
	return paginate(allPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
	page: {
		currentPage: number;
		data: Array<CollectionEntry<"blog">>;
	};
}

const { page } = Astro.props;
---

<DefaultLayout title={`Blog Archive Page ${page.currentPage}`}>
  <div class="top-nav">
    <ArchiveNav page={page} />
  </div>

  <div class="blog-posts-list">
  {page.data.map((p) => <BlogPostPreview post={p} postIndex={p.postIndex} />)}
  </div>

  <ArchiveNav page={page} />
</DefaultLayout>
<style>
  .top-nav {
    margin-block-end: 2em;
  }
</style>
