---
import { Temporal } from "@js-temporal/polyfill";
import { type Role } from "@pages/cv/content";
import { getMonthYear, padStartNumber } from "@utils/dates";

interface Props {
	role: Role;
	company: string;
	overrideFullDates?: boolean;
}

const { role, company, overrideFullDates = false } = Astro.props;

const getDateOutput = (
	date: Temporal.PlainYearMonth,
	overrideFullDates: boolean,
	showFulldate: boolean,
) => {
	if (overrideFullDates || showFulldate === false) {
		return date.year;
	}

	return `${padStartNumber(date.month)}/${date.year}`;
};
---

<li class="entrylist__item h-event p-experience">
    <article class="entry">
        <div class="entry__header">
            <h3 class="entry__title p-name">
                {role.title}
            </h3>

            <p class="entry__organization p-org h-card">
                <a href={role.url} class="p-name u-url" rel="noreferrer">
                    {company}
                </a>
            </p>

            <p class="entry__time">
                <time
                    class="dt-start"
                    datetime={getMonthYear(role.start)}
                    >{
                        getDateOutput(
                            role.start,
                            overrideFullDates,
                            role.showFullDates
                        )
                    }</time
                >
                <span>–</span>
                <time
                    class="dt-end"
                    >{
                        getDateOutput(
                            role.end,
                            overrideFullDates,
                            role.showFullDates
                        )
                    }</time
                ><span aria-hidden="true">·</span><span class="p-location"
                    >{role.location}</span
                >
            </p>
        </div>

        <div class="entry__content p-summary">
            <ul>
                {
                    role.summary.map((point: string) => {
                        return <li>{point}</li>;
                    })
                }
            </ul>
        </div>
    </article>
</li>
