---
// import LanguageSwitcher from "@components/Nav/LanguageSwitcher.astro";

interface Props {
	src: string;
	alt: string;
	dimension?: number;
}
const { src, alt, dimension = 100  } = Astro.props;
---

<div class="settings-toggler">
    {Astro.slots.has('menu') ? (
        <button popovertarget="settings-toggler-menu"><img {src} {alt} height={dimension} width={dimension} /></button>

        <div popover id="settings-toggler-menu">
            <slot name="menu" />
        </div>
    ) : (
        <img {src} {alt} height={dimension} width={dimension} />
    )}

    <slot />

    <!-- <LanguageSwitcher /> -->
</div>

<style>
    .settings-toggler {
        margin-inline-start: auto;
    }

    img {
        anchor-name: --me;
        border-radius: 50%;
        display: block;
    }

    button {
        all: unset;
        border-radius: 50%;

        &:hover,
        &:focus {
            outline: 2px dashed;
            cursor: pointer;
        }
    }

    [popover] {
        /* display: block; */
        /* background: orange; */
        margin: 0;
        inset: auto;
        top: calc(anchor(bottom) + 1rem);
        right: anchor(right);
        justify-self: anchor-center;
        padding: 0;
        border: none;
        overflow: unset;
        /* background: transparent; */
        /* min-height: 400px; */

    }

    /* :global(.language-switcher) {
        position: fixed;
        position-anchor: --me;
        position-area: bottom;
        z-index: 1;
        inset: 40px 0;
    } */

    /* @media print {
        img {
            filter: none !important;
        }
    } */
</style>
