---
import ExternalLink from "@components/Global/ExternalLink.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";

import "src/css/cv.css";

const experiences = {
    "Scalable Software": {
        url: "https://www.scalable.com",
        location: "Remote, UK",
        role: "Senior Front-end Engineer",
        start: "July 2023",
        end: "August 2024",
        summary: [
            "Web app development with React.js, Typescript, and D3 taking designs in Figma and Confluence and turning them into stories, tasks and sub-tasks and then delivering the work.",
            "I mentored junior developers and reviewed merge requests across the front-end team ensuring a consistently high quality in our product.",
            "Estimating, planned and documented new features with product and design.",
            "Creating new features and speccing out API changes with the backend team",
            // "<li>Creating API contract with the backend API developer</li>",
            // <li>Mocking data with express to simulate the API response until backend finished API work</li>",
        ],
    },
    "Venture Harbour": {
        url: "https://ventureharbour.com",
        location: "Remote, UK",
        role: "Senior Software Engineer",
        start: "October 2017",
        end: "February 2023",
        summary: [
            "Web app development with CSS-in-JS, Next.js, GraphQL and Typescript.",
            "I created two Progressive Web Apps and concentrated on improving the performance of our websites and products. This helped our improve our SEO and our Lighthouse Scores and Web Page Test performance.",
            "I created a component library using Storybook to showcase and document.",
            "I mentored the rest of the engineering team on front-end topics regularly producing demos and presentations on what I made and learned.",
            // "I created a component library using Storybook to showcase and document.",
            "I founded a culture of code quality based on automated code quality checking which helped dramatically when working with multiple developers, especially when reviewing merge requests and enforcing coding standards.",
        ],
    },
    "Taylor & Francis": {
        "url": "https://taylorandfrancis.com",
        "location": "Didcot, UK",
        "role": "Full Stack Web Developer",
        "start": "October 2016",
        "end": "October 2017",
        "summary": [
            "I created custom performant WordPress and Expression Engine sites.",
            "I hand-crafted a node tool to benchmark and monitor Business Sites using the Web Page Test API and display with React.",
            "Perform performance audits and carry out improvements on business and society sites.",
        ],
    },
    "Photocrowd": {
        url: "https://www.photocrowd.com",
        location: "Oxford, UK",
        role: "Front-end React Developer",
        start: "March 2016",
        end: "August 2016",
        summary: [
            "I creating new components and pages using React/Relay and Less from Photoshop designs.",
            "I integrated Webpack into the development process to allow for code modularity, linting, and writing modular ES6 JS.",
            "I implemented the application of BEM code methodology for new CSS components.",
        ],
    },
    "Electric Studio": {
        url: "https://www.electricstudio.co.uk",
        location: "Didcot, UK",
        role: "Front-end WordPress Developer",
        start: "2013",
        end: "2016",
        summary: [
            "I created highly customised WordPress sites from Photoshop designs, with custom post-types, taxonomies, meta boxes, shortcodes and functions.",
            "The sites were performant, using best practices and technologies, built within budget and in timeframes.",
            "Pre-launch client training, dealing with any client feedback via Basecamp or telephone.",
        ],
    },
    "Heath Wallace Ltd": {
        url: "https://www.heathwallace.com",
        location: "Reading, UK",
        role: "Creative UI Developer",
        start: "2010",
        end: "2013",
        summary: [
            "I built highly accessible websites for clients including HSBC, RBS and Grant Thornton.",
            "Using CMSs such as WordPress, CQ5 and Sitecore to allow the client to control all content on their site.",
            "Knowledge Sharing through weekly masterclass sessions (I ran three : WordPress; CSS3; and Sass).",
        ],
    }
};
---

<DefaultLayout title="CV" hideTitle bodyClass="cv xforce-print" accent="#008cff">
    <header>
        <div class="contact h-card">
            <h1 class="contact-name p-name">Andrew JD Hudson</h1>
            <div class="meta">
                <p class="contact-title">
                    <strong>Senior Front-end Engineer</strong>
                </p>
                <a href="mailto:ahudson@gmail.com">ahudson@gmail.com</a>
                <a href="https://andrewhudson.dev">https://andrewhudson.dev</a>
                <a href="tel:+33608985800" class="tel">+33608 985800</a>
                <p class="p-locality">Grenoble, France</p>
            </div>
        </div>
    </header>
    <section>
        <h2 id="experience">Experience</h2>

        <ol class="entrylist" reversed>
            {Object.entries(experiences).map(([company, experience]) => {
                return (
                    <li class="entrylist__item h-event p-experience">
                        <article class="entry">
                            <div class="entry__header">
                                <h3 class="entry__title p-name">
                                    {experience.role}
                                </h3>
                                
                                <p class="entry__organization p-org h-card">
                                    <a
                                        href={experience.url}
                                        class="p-name u-url"
                                        rel="noreferrer"
                                    >
                                        {company}
                                    </a>

                                    
                                </p>

                                <p class="entry__time">
                                    <time
                                        class="dt-start"
                                        datetime="2023-07"
                                    >
                                        {experience.start}
                                    </time>
                                    <span>–</span>
                                    <time class="dt-end" datetime="2024-08">
                                        {experience.end}
                                    </time>

                                    <span aria-hidden="true">·</span>
                            <span class="p-location">
                                {experience.location}
                            </span>
                                </p>

                            
                            </div>
                                    
                            <div class="entry__content p-summary">
                                <ul>
                                    {experience.summary.map((point) => {
                                        return <li>{point}</li>;
                                    })}
                            </div>
                        </article>
                    </li>
                );
            })}
        </ol>

        <h2 id="relevant-experience">Selected Portfolio</h2>

        <!-- <p>
            Here are a selection of the sites, app and browser extension that I have
            made:
        </p> -->

        <ul class="cv-portfolio-list">
            <li>
                <ExternalLink
                    href="https://www.scalable.com/"
                    data-url="scalable.com">Acumen</ExternalLink
                > - a digital experience web app for visualising Productivity and
                Digital Workplace Efficiency using React, Typescript, and D3.
            </li>
            <li>
                <ExternalLink
                    href="https://truenorth.io"
                    data-url="truenorth.io">TrueNorth</ExternalLink
                > - a marketing web app using NextJS, Typescript, GraphQL, Apollo,
                Prisma, with a Material-UI based component library.
            </li>
            <!-- <li>
      <strike><ExternalLink href="https://mergeco.in">MergeCoin</ExternalLink></strike> MergeCoin was a proof of concept
      Github based team productivity app that incentivizes and rewards PR code and
      reviews. Tailwind, NextJS, Github API.
    </li> -->
            <li>
                <ExternalLink
                    href="https://sereneapp.com"
                    data-url="sereneapp.com">Serene App</ExternalLink
                > – Productivity Application for MacOS users using Electron, Firebase,
                and React. With companion Chrome, Firefox and Edge extensions.
                <!-- <ExternalLink
        href="https://chrome.google.com/webstore/detail/serene-extension/nbealbhmmmaiiiddmianmjoecmipnjij"
       >Chrome Extension</ExternalLink
      > -->
            </li>
            <li>
                <ExternalLink
                    href="https://photocrowd.com"
                    data-url="photocrowd.com">photocrowd.com</ExternalLink
                > – front-end development with React/Relay, Less, and webpack
            </li>
            <li>
                <ExternalLink
                    href="https://allistergodfrey.com/"
                    data-url="allistergodfrey.com"
                    >allistergodfrey.com</ExternalLink
                > – a custom responsive WordPress site with many interactive features,
                galleries, and css transitions
            </li>
            <li>
                <ExternalLink
                    href="https://ojwmanagement.com/"
                    data-url="ojwmanagement.com">ojwmanagement.com</ExternalLink
                > – a single page responsive WordPress site with flexbox, responsive
                images, and SVG
            </li>
            <li>
                <ExternalLink
                    href="https://blog.oup.com/"
                    data-url="blog.oup.com">blog.oup.com</ExternalLink
                > – responsive WordPress blog for Oxford University Press
            </li>
            <!-- <li>
                <ExternalLink
                    href="https://github.com/bigandy"
                    data-url="github.com/bigandy"
                    >github.com/bigandy</ExternalLink
                > – my GitHub account
            </li>
            <li>
                <ExternalLink
                    href="https://andrewhudson.dev"
                    data-url="andrewhudson.dev">andrewhudson.dev</ExternalLink
                > – This site - powered currently by Astro and Svelte with a dash
                of Notion API.
            </li>
            <li>
                <ExternalLink
                    href="https://codepen.io/bigandy"
                    data-url="codepen.io/bigandy">My Codepen</ExternalLink
                > a place to experiment with any aspect of front-end web technologies.
            </li> -->
        </ul>

        <h2 id="education">Education</h2>
            <ul class="p-grid p-grid--halfs">
                <li>MChem (hons) Chemistry<h3 class="name">University of Manchester</h3></li>
                <!-- <li><ExternalLink href="https://www.joyofreact.com/">Joy of React</ExternalLink></li>
                <li>
                Frontend Masters courses - including Typescript, Web Components, and Enterprise UI Testing
                </li> -->
            </ul>

        <!-- <h2 id="interests">Interests</h2>

  <ul class="p-grid p-grid--halfs">
    <li>Learning French</li>
    <li>Being active outdoors (Mountain Biking, cycling, running, hiking)</li>
    <li>Drinking and learning about Coffee</li>
  </ul> -->
    </section>
    <aside>
        <h2>Summary</h2>

        <p>
            <!-- I am an experienced senior front-end and javascript developer looking to create exciting and useful products and services in places that are powered by JavaScript, HTML and CSS. -->

            I am a senior front-end engineer with 14+ years experience creating
            highly performant and usable products, websites, desktop
            applications, and browser extensions.
        </p>

        <h2>Key Achievements</h2>

        <ul>
            <li><strong>Performance Boost</strong></li>
        </ul>

        <h2 id="skills">Skills</h2>
        <ul class="skills">
            <li>TypeScript, CSS, JavaScript</li>
            <li>Extensive experience of Next.js and Astro</li>
            <li>React, Svelte and Lit</li>
            <li>Testing with Cypress and Jest</li>
            <li>Documentation with Storybook, and Confluence</li>
            <li>Electron and Chrome Browser Extension development</li>
            <li>Native English</li>
            <li>Intermediate French</li>
            <!-- <li>Website Performance Optimisation.</li> -->
            <!-- <li>Databases (Firebase and Postgres).</li> -->
            <!-- <li>Serverless functions with custom API routes.</li> -->
        </ul>

        <h2>Find me Online</h2>

        <ul class="cv-social">
            <li><a href="https://github.com/bigandy">Github</a>
                <span>github.com/bigandy</span>
            </li>
            <li><a href="https://codepen.io/bigandy">Codepen</a><span>codepen.io/bigandy</span></li>
            <li>
                <a href="https://www.linkedin.com/in/andrew-hudson-software-engineer/">Linkedin</a>
                <span>linkedin.com/in/andrew-hudson-software-engineer/</span>
            </li>
            <li><a href="https://andrewhudson.dev">My Personal Blog</a><span>andrewhudson.dev</span></li>
        </ul>
    </aside>
</DefaultLayout>
