---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<link
  href="/fonts/anybody/anybody-v4-latin-900.woff2"
  rel="preload"
  type="font/woff2"
  as="font"
  crossorigin=""
/>

<!-- Primary Meta Tags -->
<title>Andrew Hudson - {title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta name="theme-color" content="#ffcc00" />
<link rel="manifest" href="/manifest.json" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://astro.build/social.jpg?v=1" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="https://astro.build/social.jpg?v=1" />

<ViewTransitions />

<script>
  const setTheme = () => {
    const theme = localStorage.getItem("theme");

    document.body.setAttribute("data-theme", theme);
  };
  setTheme();

  document.addEventListener("astro:after-swap", setTheme);
</script>
