---
import { CollectionEntry } from "astro:content";
import ForwardArrow from "@components/Global/ForwardArrow.astro";

import BlogPostHeader from "@components/Blog/BlogPostHeader.astro";
interface Props {
  post: CollectionEntry<"blog">;
}

const {
  post: { slug, data },
} = Astro.props;
const { draft, title, date } = data;
---

<article class={`post-preview layout-inner ${draft && "draft"}`}>
  <BlogPostHeader date={date} title={title} slug={slug} isPreview />
  <main>
    <ForwardArrow url={`/blog/${slug}`} title={title} isBlog />
  </main>
</article>

<style>
  .content :global(main > * + *) {
    margin-block-start: 1rem;
  }

  .post-preview {
    margin-block-end: 1rem;
    padding-block-end: 1rem;
    border-block-end: 4px double var(--theme-divider);
    max-width: max-content;

    &:hover {
      max-width: 100%;
    }
  }

  .draft {
    border-inline-start: 2px solid var(--theme-accent);
    padding-inline-start: 2rem;
    position: relative;
    transition: all 0.3s;

    &::before {
      transition: all 0.3s;
      text-transform: uppercase;
      position: absolute;
      font-size: 10px;
      left: -0.5rem;
      top: calc(50% - 1em);
      content: "draft";
      rotate: -90deg;
      display: inline-block;
    }

    &:hover {
      padding-inline-start: 0;
      border-inline-start: 0;
      max-width: 100%;

      &::before {
        opacity: 0;
      }
    }
  }
</style>
