---
import PublishDate from './PublishDate.astro'

const { date, title, isPreview = false, slug } = Astro.props

interface Props {
	date?: Date
	title: string
	isPreview?: boolean
	slug: string
}
---

<header
  class={`${isPreview ? "preview" : "post"}`}
  style={`view-transition-name: ${slug.replaceAll("/", "")}`}
>
  {
    isPreview ? (
      <a href={`/${slug}`}>
        <PublishDate date={date} class="publish-date" />
        
        <h2 class="title">{title}</h2>
      </a>
    ) : (
      <fragment>
        <h1 class="title">{title}</h1>
        <PublishDate date={date} class="publish-date" showLine />
      </fragment>
    )
  }
</header>

<style>
  .preview {
    display: grid;
    &.header {
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      justify-content: center;
      padding-block-end: 1rem;
    }

    .title,
    .publish-date {
      margin: 0;
    }

    .publish-date {
      font-size: 1.25rem;
      color: var(--theme-text-lighter);
      font-weight: var(--f-body-weight);
      font-family: var(--header-font-family);
      line-height: 1.3;
    }

    .title {
      font-size: 2.25rem;
      color: var(--theme-text);
    }
  }

  /* BlogPost */
  .post {
    padding-block: 2rem;

    & p,
    & li {
      margin-block-end: 1rem;
    }

    .publish-date {
      margin: 0;
    }

    

    .title {
      line-height: 1;
      text-wrap: pretty;
      
    }
  }
</style>
