---
import BlogContent from '@components/Blog/BlogContent.astro'
import BlogPostHeader from '@components/Blog/BlogPostHeader.astro'
import BackArrow from '@components/Global/BackArrow.astro'
import ExternalLink from '@components/Global/ExternalLink.astro'

const {
	post,
	showBackLink = true,
	showDate = true,
	collection = 'blog',
  hasTranslation,
} = Astro.props
const { Content } = await post.render()

const backTitle = Astro.currentLocale ? "Retour au blog" : "Back to blog";
const prefix = Astro.currentLocale ? `/${Astro.currentLocale}` : "";
const noTranslation = !hasTranslation && Astro.currentLocale;

// is this correct?
const blogHomeUrl = '/'
---

<article class={`content post layout-inner`}>
  {noTranslation && <p class="no-translation">Pas de traduction disponible.</p>}
  <BlogPostHeader
    date={showDate && post.data.date}
    title={post.data.title}
    isPreview={false}
    slug={post.slug}
    viewTransitionName={post.slug}
  />

  <BlogContent>
    <Content />
  </BlogContent>


  {showBackLink && <BackArrow url={prefix + blogHomeUrl} title={backTitle} />}
</article>

<ExternalLink
  href={`https://github.com/bigandy/astro-blog/tree/main/src/content/${collection}/${post.slug}.md`}
  class="external-link"
  >Edit this post on Github</ExternalLink>

<style>
  .external-link {
    margin-block: 2rem;
    padding-block: 1rem;
  }

  .content :global(main > * + *) {
    margin-block-start: 1rem;
  }

  a {
    margin-bottom: 2rem;
    display: inline-block;

  }
  .post {
    padding: 1rem;
  }

  .no-translation {
    width: 100%;
    padding: 1rem;
    border: 0.25rem dotted red;
    max-width: unset;
    text-align: center;
  }
</style>
