---
import { render } from "astro:content";

import BlogContent from "@components/Blog/BlogContent.astro";
import BlogPostHeader from "@components/Blog/BlogPostHeader.astro";
import BackArrow from "@components/Global/BackArrow.astro";
import EditPostOnGithub from "@components/Global/EditPostOnGithub.astro";

const {
    post,
    showBackLink = true,
    showDate = true,
    collection = "blog",
    postIndex,
    hasTranslation,
} = Astro.props;
const { Content } = await render(post);
// const backTitle = Astro.currentLocale ? "Retour au blog" : "Back to blog";
const prefix = Astro.currentLocale ? `/${Astro.currentLocale}` : "";
const noTranslation = !hasTranslation && Astro.currentLocale === "fr";

const backLinkText =
    Astro.currentLocale === "fr"
        ? `retour à tous les articles du ${collection}`
        : `Back to all ${collection} posts`;
---

<article class="content post layout-inner">
    {
        noTranslation && (
            <p class="no-translation">Pas de traduction disponible.</p>
        )
    }
    <BlogPostHeader
        date={showDate && post.data.date}
        title={post.data.title}
        isPreview={false}
        slug={post.slug}
        viewTransitionName={post.slug}
        postIndex={postIndex}
    />

    <BlogContent>
        <Content />
    </BlogContent>

    {
        showBackLink && (
            <BackArrow url={`${prefix}/${collection}`} title={backLinkText} />
        )
    }
</article>

<EditPostOnGithub slug={post.slug} collection={collection} />

<style>
    .no-translation {
        width: 100%;
        padding: 1rem;
        border: 0.25rem dotted red;
        max-width: unset;
        text-align: center;
    }
</style>
