---
import DefaultLayout from "@layouts/DefaultLayout.astro";

// CV Specific Components
import Role from "@components/CV/Role.astro";
import LanguageGauge from "@components/CV/LanguageGauge.astro";
import SkillsList from "@components/CV/SkillsList.astro";
import SocialLinksList from "@components/CV/SocialLinksList.astro";
import PorfolioList from "@components/CV/PorfolioList.astro";

import "src/css/cv.css";

import {
    roles,
    skills,
    socialLinks,
    personalInformation,
    portfolioLinks,
} from "./data";
---

<DefaultLayout title="CV" hideTitle bodyClass="cv force-print" accent="#008cff">
    <header>
        <div class="contact h-card">
            <h1 class="contact-name p-name">{personalInformation.name}</h1>
            <div class="meta">
                <p class="contact-title">
                    <strong>{personalInformation.title}</strong>
                </p>
                <a href={`mailto:${personalInformation.email}`}
                    >{personalInformation.email}</a
                >
                <a href={personalInformation.website}
                    >{personalInformation.website.replace("https://", "")}</a
                >
                <a href={`tel:${personalInformation.phone}`} class="tel"
                    >{personalInformation.phone}</a
                >
                <p class="p-locality">{personalInformation.location}</p>
            </div>
            <img
                class="contact-photo"
                src="/images/cv/andrew-profile.jpg"
                alt="Photo of Andrew JD Hudson"
            />
        </div>
    </header>
    <section>
        <h2 id="experience">Experience</h2>

        <ol class="entrylist" reversed>
            {
                Object.entries(roles).map(([company, role]) => {
                    return <Role company={company} role={role} />;
                })
            }
        </ol>

        <h2 id="relevant-experience">Selected Portfolio</h2>

        <PorfolioList links={portfolioLinks} />
    </section>
    <aside>
        <h2>Summary</h2>

        <p>
            <!-- I am an experienced senior front-end and javascript developer looking to create exciting and useful products and services in places that are powered by JavaScript, HTML and CSS. -->

            I am a senior front-end engineer with 14+ years of experience
            creating highly performant and usable products, websites, desktop
            applications, and browser extensions.
        </p>

        <h2 id="key-achievements">Key Achievements</h2>

        <ul>
            <li><strong>Performance Boost</strong></li>
        </ul>

        <h2 id="skills">Skills</h2>

        <SkillsList skills={skills} />

        <h2 id="online-links">Online Links</h2>

        <SocialLinksList links={socialLinks} />

        <h2 id="Languages">Languages</h2>

        <LanguageGauge language="English" level={5} levelText="Native" />
        <LanguageGauge language="French" level={2} levelText="Intermediate" />

        <h2 id="education">Education</h2>
        <ul class="p-grid p-grid--halfs">
            <li>
                MChem (hons) Chemistry
                <h3 class="name">University of Manchester</h3>
                <time class="dt-start" datetime="1999">1999</time><span>–</span>
                <time class="dt-end" datetime="2003">2003</time>
            </li>
        </ul>
    </aside>
</DefaultLayout>
