---
import DefaultLayout from "@layouts/DefaultLayout.astro";

// CV Specific Components

import EducationList from "@components/CV/EducationList.astro";
import LanguagesList from "@components/CV/LanguagesList.astro";
import PorfolioList from "@components/CV/PorfolioList.astro";
import RolesList from "@components/CV/RolesList.astro";
import SettingsToggler from "@components/CV/SettingsToggler.astro";
import SkillsList from "@components/CV/SkillsList.astro";
import SocialLinksList from "@components/CV/SocialLinksList.astro";

import "src/css/cv.css";

import {
	education,
	languages,
	personalInformation,
	portfolioLinks,
	roles,
	skills,
	socialLinks,
	summary,
	themeColorKey,
} from "./content";

const overrideFullDates = false;
---

<DefaultLayout
    title="CV"
    hideTitle
    bodyClass="cv force-print"
    accent="#008cff"
>
    <header>
        <div class="contact h-card">
            <div>
                <h1 class="contact-name p-name">
                    <a href="/">{personalInformation.name}</a>
                </h1>
                <div class="meta">
                    <p class="contact-title">
                        <strong>{personalInformation.title}</strong>
                    </p>
                    <a href={`mailto:${personalInformation.email}`}
                        >{personalInformation.email}</a
                    >
                    <a href={personalInformation.website}
                        >{
                            personalInformation.website.replace("https://", "")
                        }</a
                    >
                    <a href={`tel:${personalInformation.phone}`} class="tel"
                        >{personalInformation.phone}</a
                    >
                    <p class="p-locality">{personalInformation.location}</p>
                </div>
            </div>

            <SettingsToggler
                src="/images/cv/andrew-profile.jpg"
                alt="Photo of Andrew JD Hudson"
                themeColorKey={themeColorKey}
            />
        </div>
    </header>

    <section class="main-column">
        <section>
            <h2 id="experience">Experience</h2>

            <ol class="entrylist list--dashed" reversed>
                <RolesList roles={roles} overrideFullDates={overrideFullDates} />
            </ol>
        </section>

        <section>
            <h2 id="relevant-experience">Selected Portfolio</h2>

            <PorfolioList links={portfolioLinks} />
        </section>
    </section>

    <aside>
        <section>
            <h2>Summary</h2>

            <p>
                {summary}
            </p>
        </section>

        <section>
            <h2 id="key-achievements">Key Achievements</h2>

            <ul>
                <li><strong>Performance Boost</strong></li>
            </ul>
        </section>

        <section>
            <h2 id="skills">Skills</h2>

            <SkillsList skills={skills} />
        </section>

        <section>
            <h2 id="online-links">Online Links</h2>

            <ul class="cv-social list--plain list--dashed list--compact">
                <SocialLinksList links={socialLinks} />
            </ul>
        </section>

        <section>
            <h2 id="education">Education</h2>
            <ul class="list--dashed list--plain list--compact cv-education-list">
                <EducationList education={education} />
            </ul>
        </section>

        <section>
            <h2 id="Languages">Languages</h2>

            <ul class="list--plain list--dashed list--compact list--languages">
                <LanguagesList languages={languages} />
            </ul>
        </section>
    </aside>
    <div class="hide-print switch-portfolio-link">
        <a href="/cv">Switch to version of CV with no sidebar</a>
    </div>
</DefaultLayout>
