---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import GlobalNav from '../components/GlobalNav.astro';
import BlogHeader from '../components/BlogHeader.astro';

const {title, head} = Astro.props;

const description = 'Senior Software Engineer looking for answers.';
const permalink = 'https://andrewhudson.dev/';
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />

    <link rel="stylesheet" href="/src/css/global.css" />
    <link rel="stylesheet" href="/src/css/cv.css')} />

    {head}
  </head>

  <body class="cv">
    <BlogHeader />
    <GlobalNav />
    <div class="layout">
      <article class="content layout-inner">
        <section class="intro">
          <h1 class="title">{title}</h1>
        </section>
        <section>
          <slot />
        </section>
      </article>
    </div>
  </body>
</html>
