---
import BaseHead from "@components/BaseHead.astro";
import HeaderNav from "@components/Nav/HeaderNav.astro";
import FooterNav from "@components/Nav/FooterNav.astro";
import BlogHeader from "@components/Blog/BlogHeader.astro";

import "src/css/global.css";
import BottomOfHead from "@components/BottomOfHead.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

const { title, head } = Astro.props;

let description = "Senior Software Engineer looking for answers.";
let permalink = "https://andrewhudson.dev/";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />

    {head}

    <style>
      .content {
        margin-top: 2rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        margin-bottom: 2rem;
      }

      .intro > * {
        margin: 0;
      }
    </style>
    <BottomOfHead />
  </head>

  <body>
    <BlogHeader />
    <HeaderNav />

    <div class="layout">
      <article class="content layout-inner">
        <section class="intro">
          <h1 class="title">{title}</h1>
        </section>
        <section>
          <slot />
        </section>
      </article>
    </div>
    <FooterNav />
  </body>
</html>
