---
import { footerPages } from "./pages";
import { socialLinks } from "./social-links";
import { getNavClassName } from "./utils";

const requestPathname = Astro.url.pathname;

const prefix = Astro.currentLocale !== "en" ? `/${Astro.currentLocale}` : "";
const locale = Astro.currentLocale ?? "en";
---

<nav class="layout footer-nav">
    <ul class="layout-inner nav">
        {
            footerPages.map((entry) => {
                const className = getNavClassName(entry.url, requestPathname);
                const href = prefix + entry.url;

                return (
                  <li>
                    <a class={className} href={href}>
                      {(locale === 'fr' && entry.title['fr']) || entry.title.default}
                    </a>
                  </li>
                );
            })
        }
    </ul>
</nav>
<nav>

  {socialLinks.length > 0 && (
  <ul class="layout-inner nav nav-social">
      {
        socialLinks.map(({ url, icon, title }) => {
          const className = getNavClassName(url, requestPathname);

          return (
            <li>
              <a class={className} href={url} target="_blank" style={`color: ${icon.color}`}>
                <svg height="1em" width="1em">
                  <use href={`/images/sprite.svg#${icon.name}`}></use>
                </svg>
                {title}
              </a>
            </li>
          );
        })
      }
    </ul>
    )}
</nav>

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        list-style: "";
        padding: 0;
    }

    a {
        border-block-end: 2px solid transparent;
    }

    a:hover,
    .active {
        border-bottom-color: var(--theme-accent);
    }

    .social-link {
        color: attr(data-attr-color type(<color>));
    }

    .social-icon {
        vertical-align: -0.25em;
    }
</style>
