---
import SettingsToggler from "@components/CV/SettingsToggler.astro";
import ExternalLink from "@components/Global/ExternalLink.astro";

import { headerPages } from "./pages";
import { getNavClassName } from "./utils";

const requestPathname = Astro.url.pathname;

const locale = Astro.currentLocale ?? "en";

const { hidePhoto = false } = Astro.props;
const prefix = Astro.currentLocale !== "en" ? `/${Astro.currentLocale}` : "";
---

<nav>
    <div class="links">
        {
            headerPages.map((entry) => {
                const className = getNavClassName(entry.url, requestPathname);
                const href = prefix + entry.url;

                return (
                    <>
                        {entry.external ? (
                            <ExternalLink href={entry.url}>
                                {entry.title}
                            </ExternalLink>
                        ) : (
                            <a class={className} href={href}>
                                {(locale === "fr" && entry.title["fr"]) ||
                                    entry.title.default}
                            </a>
                        )}
                    </>
                );
            })
        }
    </div>
    {
        !hidePhoto && (
            <SettingsToggler
                src="/images/cv/andrew-profile.jpg"
                alt="Photo of Andrew JD Hudson"
            />
        )
    }
</nav>
<style>
    nav {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    a {
        /* text-decoration: none; */
        /* border-block-end: 2px solid transparent; */
    }

    a:hover,
    .active {
        border-bottom-color: var(--theme-accent);
    }

    ul {
        /* display: flex;
        gap: --spacing(1); */
    }

    .links {
        display: flex;
        flex-wrap: wrap;

        gap: --spacing(1);
    }

    .language-switcher {
        margin-inline-start: auto;
    }
</style>
