---
import { isProduction } from "@utils/isProduction";
import SpeculationRules from "./SpeculationRules.astro";
import "@css/global.css";

interface Props {
	title: string;
	description?: string | undefined;
}

const descriptionFallback = "Senior Software Engineer looking for answers.";

const {
	title = descriptionFallback,
	description = descriptionFallback,
} = Astro.props;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title !== "" ? `${title} - ` : ""}Andrew JD Hudson</title>
<meta name="title" content={title !== "" ? title : descriptionFallback} />
<meta name="description" content={description} />

{isProduction && (
    <SpeculationRules />
)}

<meta name="theme-color" content="#ffcc00" />
<link rel="manifest" href="/manifest.json" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- Mastodon -->
<meta property="fediverse:creator" content="@bigandy@indieweb.social" />
