---
import { isProduction } from "@utils/isProduction";
import SpeculationRules from "./SpeculationRules.astro";
import "@css/global.css";

interface Props {
	title: string;
	description?: string | undefined;
}

const descriptionFallback = "Senior Software Engineer looking for answers.";

const {
	title = descriptionFallback,
	description = descriptionFallback,
} = Astro.props;

---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<title>{title !== "" ? `${title} - ` : ""}Andrew JD Hudson</title>
<meta name="title" content={title !== "" ? title : descriptionFallback} />
<meta name="description" content={description} />

{isProduction && (
    <SpeculationRules />
)}

<meta name="theme-color" content="#ffcc00" />
<link rel="manifest" href="/manifest.json" />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<meta property="fediverse:creator" content="@bigandy@indieweb.social" />
<link
    rel="alternate"
    type="application/rss+xml"
    title={"Andrew JD Hudson - Senior Front-end Engineer"}
    href={new URL("rss.xml", Astro.site)}
/>
<script>
    const storageKey = 'ah-theme';
    const localStorageTheme = localStorage.getItem(storageKey);
    document.documentElement.setAttribute('data-theme', localStorageTheme!);
</script>