---
import { isProduction } from "@utils/isProduction";
import SpeculationRules from "./SpeculationRules.astro";
import "@css/global.css";

interface Props {
	title: string;
	description?: string | undefined;
}

const descriptionFallback = "Senior Software Engineer looking for answers.";

const {
	title = descriptionFallback,
	description = descriptionFallback,
} = Astro.props;

---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<title>{title !== "" ? `${title} - Andrew JD Hudson` : "Andrew JD Hudson"}</title>
<meta name="title" content={title !== "" ? title : descriptionFallback} />
<meta name="description" content={description} />

<link rel="preload" href="/fonts/Syne-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin />

{isProduction && (
    <SpeculationRules />
)}

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<meta property="fediverse:creator" content="@bigandy@indieweb.social" />

<link
    rel="alternate"
    type="application/rss+xml"
    title={"Andrew JD Hudson - Senior Front-end Engineer"}
    href={new URL("rss.xml", Astro.site)}
/>
